.container {
  h1 {
    color: grey;
    background-image: url('./../../assets/react-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
